[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
gunicorn = "*"
flask = "*"
flask-restplus = "*"
flask_cors = "*"
xlrd = "*"
xlwt ="*"
requests = "*"

[requires]
python_version = "3.6"
unicorn = "19.9.0"
